@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");
@import url("https://use.typekit.net/zlu5egj.css");
@font-face {
  font-family: "GonganB";
  src: url("../font/GonganB.otf") format("truetype");
}
@font-face {
  font-family: "GonganL";
  src: url("../font/GonganL.otf") format("truetype");
}
@font-face {
  font-family: "GonganM";
  src: url("../font/GonganM.otf") format("truetype");
}
@font-face {
  font-family: "GonganR";
  src: url("../font/GonganR.otf") format("truetype");
}
@font-face {
  font-family: "GonganUL";
  src: url("../font/GonganUL.otf") format("truetype");
}

body,
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000036;
  box-sizing: border-box;
}
#wrap {
  overflow: hidden;
  width: 1903px;
  box-sizing: border-box;
  margin: 0 auto;
  word-break: keep-all;
}

/* ------header */
.header {
  width: 100%;
  height: 147px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0px 95px;
  box-sizing: border-box;
  background-color: transparent;
  background-clip: content-box;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, margin 0.3s ease-in-out;
  text-transform: uppercase;
}

.header .logo {
  display: block;
  width: 523px;
  height: 64px;
}
.gnb_wrap {
  position: relative;
  text-align: center;
}
.gnb {
  display: inline-block;
  padding-top: 68px;
}
.header ul,
.header li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header a {
  color: #000;
  text-decoration: none;
}
.gnb .dep1 {
  font-size: 0;
}
.gnb .dep1 > li {
  display: inline-block;
  text-align: start;
  position: relative;
  padding-right: 70px;
  padding-bottom: 16px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
}
.gnb.en .dep1 > li {
  display: inline-block;
  text-align: start;
  position: relative;
  padding-right: 35px;
  padding-bottom: 16px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
}
.gnb .dep1 > li:last-child {
  padding-right: 0;
}
.gnb .dep1 > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.375rem;
  color: #fff;
  transition: color 0.2s linear;
  font-weight: 500;
}
.gnb .dep2 {
  width: 100%;
  position: absolute;
  height: 300px;
  padding-top: 31px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: visibility, opacity 0.5s;
  font-size: 0;
}

.gnb .dep2 li {
  margin-bottom: 24px;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-weight: 400;
  text-align: start;
}
.header.over {
  background: linear-gradient(180deg, rgba(0, 0, 54, 1) 0%, rgba(0, 0, 54, 1) 70%, rgba(0, 0, 54, 0) 100%);
  background-clip: content-box;
}
.header a {
  color: #fff;
}
.header.over:before {
  opacity: 1;
}
.header.over {
  height: 635px;
}
.header.over .gnb .dep2 {
  opacity: 1;
  visibility: visible;
}

.header.over .dep2 li a:hover {
  color: #30a34a;
  font-weight: bold;
  text-decoration: underline;
}
.header.over .gnb .dep1 li:hover .dep1_a:before {
  width: 100%;
}

/*-------- 모바일 헤더 */
.m-header {
  background-color: rgba(18, 18, 18, 0.2);
  background-size: cover;
  background-position: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 998;
}

/* content */
.content {
  width: 100%;
  margin-top: 187px;
}

/* main-visual */
.content .main-visual {
  width: 100%;
  position: relative;
}
.content .main-visual .front1 {
  position: absolute;
  top: 2%;
  left: 8%;
  width: 90%;
  z-index: 2;
}
.content .main-visual .front2 {
  position: absolute;
  top: -2%;
  left: 2%;
  width: 95%;
  z-index: 2;
}
.content .main-visual .back {
  margin: 0 -3% 0 -9%;
}

/* slide */
.slide {
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 0 72px;
  box-sizing: border-box;
  overflow: hidden;
}
.slide-img-wrap {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.slide-img-wrap img {
  width: 90%;
}
.slide-img {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.simg01 {
  background-image: url(../images/tosel.jpg);
}
.simg02 {
  background-image: url(../images/looks.JPG);
}
.simg03 {
  background-image: url(../images/movement.jpg);
}
.simg04 {
  background-image: url(../images/blackToe.jpg);
}
.simg05 {
  background-image: url(../images/onNoff.JPG);
}
.simg06 {
  background-image: url(../images/plamengo.jpg);
  background-position-y: inherit;
}
.simg07 {
  background-image: url(../images/hongdance.jpg);
}
.simg08 {
  background-image: url(../images/onmom.png);
}
.simg09 {
  background-image: url(../images/W2Project.jpg);
}
.simg10 {
  background-image: url(../images/afterGlow.png);
}
.simg11 {
  background-image: url(../images/danzaMobileCompany.jpeg);
}
.simg12 {
  background-image: url(../images/LegacyCircus.jpeg);
}
.simg13 {
  background-image: url(../images/verfitoPowerOfValance.jpg);
}
.prevArrWrap {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-2%, -50%);
}
.nextArrWrap {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-2%, -50%);
}

.prevArrWrap img,
.nextArrWrap img {
  width: 100%;
  cursor: pointer;
}

.slick-slide-wrap {
  display: flex;
  margin-top: 112px;
}
.slide-text {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 10%;
  right: 0;
}
.slide-text-tit {
  font-family: citizen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 4.5rem;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-align: start;
}
.slide-text-txt {
  font-family: citizen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.813rem;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-align: start;
}
.slick-country-wrap {
  text-align: left;
}
.slick-country-wrap span {
  display: inline-block;
  width: 164px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11.5px);
  border-radius: 34px 90px 90px 0px;
  color: #ffffff;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: -50px;
}
.slick-country-wrap span img {
  vertical-align: middle;
  width: 40px;
  display: inline;
}
.slide-text {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 0%;
  right: 0;
}
.slide-text-tit {
  margin-bottom: 12px;
}
.slide,
.slide-img-wrap,
.slick-slider,
.slick-slider .slick-list,
.slick-slider .slick-track {
  overflow: unset !important;
}
/* link */
.kiada-link {
  width: 100%;
  padding: 72px;
  box-sizing: border-box;
}
.kiada-link .link-text {
  width: 100%;
  padding: 72px 0;
  color: #fff;
}
.kiada-link .link-text .link-text-tit {
  width: 50%;
  font-family: citizen, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: left;
  word-break: keep-all;
}
.kiada-link .link-text .link-text-txt {
  width: 50%;
  font-family: "GonganR", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.625rem;
  letter-spacing: -0.07em;
  text-align: left;
  padding-top: 32px;
  margin: 0;
  word-break: keep-all;
}
.link-box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.link-box img {
  width: 30%;
}

/* kiada-vod */
.kiada-vod {
  width: 100%;
  padding: 72px 80px;
  box-sizing: border-box;
}
.vod-wrap {
  padding-bottom: 152px;
}
.vod-title {
  width: 1280px;
  font-family: citizen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #fff;
  text-align: left;
  padding-left: 195px;
}
#vod-1 {
  background: url("../images/Exclude\(2\).png") 72px 100% no-repeat;
  padding-left: 72px;
  text-align: right;
}
/* ticker */
.tickerwrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 150%;
  margin-left: -500px;
  margin-top: 150px;
  cursor: pointer;
  transform: rotate(-6deg);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tickerwrapper .ticker {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.tickerwrapper .ticker.cloned {
  position: absolute;
  top: 0;
  left: 0;
}
.tickerwrapper .ticker span {
  font-weight: 100;
  font-family: citizen, sans-serif;
  font-size: 8.02vw;
  line-height: 1.33em;
  padding-left: 1.0714em;
  padding-right: 0.26em;
  position: relative;
  float: left;
  color: #fff;
}
.tickerwrapper .ticker span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.8116em;
  height: 0.8116em;
  background-image: url("../images/year-flash.svg");
  background-size: cover;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tickerwrapper .ticker span.this-year {
  padding-left: 1.655em;
}
.tickerwrapper .ticker span.this-year:before {
  background-image: url("../images/arrow-thisyear.svg");
  width: 1.47em;
}
.tickerwrapper .ticker span.this-year b {
  font-weight: 100;
  border: 1px solid #fff;
  padding: 0 20px;
  line-height: 0;
  border-radius: 1.5em;
}
.tickerwrapper a {
  color: #fff;
}
/*support  */
.kiada-support {
  width: 100%;
  height: 495px;
  background: #00001c;
  padding-top: 72px;
  box-sizing: border-box;
}
.support-wrap {
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  padding: 0 72px;
}

.support-title {
  font-family: "Gongan";
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 22px;
  padding-bottom: 25px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.support-wrap img {
  width: 100%;
  max-width: 304px;
}
.support-wrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.support-wrap2 {
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  padding: 72px 72px;
}
.support-wrap2 ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
/*cheer*/
.kiada-cheer {
  width: 100%;
  padding: 0 80px;
  margin-top: 412px;
  margin-bottom: 320px;
  box-sizing: border-box;
}
.cheer-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cheer-title {
  margin-bottom: 8px;
  font-size: 4rem;
  line-height: 82%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-family: citizen, sans-serif;
  color: #ffffff;
  text-align: left;
}
.cheer-text {
  margin-bottom: 40px;
  font-family: "GonganR", sans-serif;
  font-size: 1.75rem;
  line-height: 133%;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.video-bg {
  width: 100%;
  background-color: #19194a;
  padding: 48px 80px 150px;
  box-sizing: border-box;
}
.cheer-video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.cheer-video-wrap img {
  width: 100%;
  z-index: 9;
  overflow: hidden;
}
.cheer-video-wrap iframe {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;

  zoom: 2;
}
.cheer-video-text {
  position: absolute;
  bottom: -85px;
  left: 0px;
}
.name-txt01 {
  font-size: 1.688rem;
  color: #30a34a;
  font-weight: 600;
}
.job-txt01 {
  font-size: 1rem;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.message-wrap {
  margin-top: 80px;
}
.messages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.message-box {
  width: calc(50% - 20px);
  padding: 80px;
  box-sizing: border-box;
  font-family: "GonganR", sans-serif;
  word-break: keep-all;
  font-size: 1.5rem;
  line-height: 133%;
  letter-spacing: -0.04em;
  color: #ffffff;
  background-color: rgba(25, 25, 74, 0.98);
  margin-right: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.m-box1 {
  margin-top: 15%;
  max-height: 626px;
}
.m-box2 {
  max-height: 550px;
}
.m-box3 {
  margin-top: 40px;
  max-height: 560px;
}
.m-box4 {
  margin-top: -15%;
  max-height: 810px;
}
.m-box5 {
  margin-top: 3%;
  max-height: 675px;
}
.nomargin {
  margin-right: 0px;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.photo-wrap {
  width: 100%;
  position: relative;
  z-index: 9;
}
.m-box1 .photo-wrap img,
.m-box5 .photo-wrap img {
  margin-top: 0px;
}
.photo-wrap img {
  width: 100%;
  max-width: 189px;
  float: right;
  z-index: 9;
  margin-top: 60px;
  filter: drop-shadow(0px 24px 20px rgba(0, 0, 0, 0.25));
  border-radius: 160px;
}

.bg-img2 {
  width: 100%;
  position: absolute;
  max-width: 1920px;
  margin: 0 auto;
  z-index: -1;
}

/* footer */

.footer {
  width: 100%;
  padding: 72px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}
.footer-wrap {
  width: 100%;
  height: 255px;
  color: #fff;
  display: flex;
}
.footer ul li {
  margin-right: 10px;
}
.footer-left {
  width: 50%;
  height: 95px;
  display: flex;
}
.footer-organizer {
  padding-right: 130px;
}
.footer-right {
  width: 50%;
  text-align: end;
}

.sns img {
  width: 37px;
  margin-top: 20px;
  margin-left: 37px;
  line-height: 37px;
  vertical-align: middle;
}

.t01 {
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.t02 {
  font-family: "Pretendard";
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.blod {
  font-weight: 700;
}
.left-111 {
  margin-left: -111px;
}
.goTopBtn {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  z-index: 9;
  font-family: citizen, sans-serif;
  font-size: 1rem;
  display: none;
  cursor: pointer;
}
.m-box4.en {
  margin-top: -15%;
  max-height: 860px;
}
.go-eng {
  display: block;
  width: 40px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 3px;
  font-family: citizen, sans-serif;
  font-size: 1rem;
  margin-left: auto;
  transition: all 0.3s ease;
}
.support-wrap li {
  margin-right: 10px;
}

.mobile-header .lnr-chevron-down,
.lnr-chevron-up {
  float: right;
}
.mobile-header .lnr-chevron-down:before,
.mobile-header .lnr-chevron-up:before {
  vertical-align: middle;
}
.dep2 li img {
  display: none;
}
.nav_active a {
  color: #68cc58 !important;
  font-weight: bold;
}
.dep2 li.nav_active img {
  display: inline-block;
  margin-right: 5px;
  width: 0.8rem;
}
